/* Global Styles */
:root {
    --main-white: #f0f0f0;
    --main-green: #cbec7d;
    /* --main-green: #3ad2ff; */
    --main-gray: #303841;
    --text-blue: #002b57;
}
body {
    background-color: var(--main-gray);
}
a {
    color: black;
}

/* NavBar */
.navrow {
    background-color: var(--main-gray);
    height: 80px;
}
header h1 {
    justify-content: center;
    display: flex;
    border: 1pt solid black;
    margin: auto;
    background-color: var(--main-green);
    color: var(--main-gray);
    border-radius: 10px;    
}
.nav {
    justify-content: flex-end;
    align-items: center;
}
header a {
    color: var(--main-green);
    font-size: 18px; 
}

@media only screen and (max-width: 768px){
    .navrow {
        background-color: var(--main-gray);
        height:100px;
    }
    .nav {
        justify-content: flex-start;
    }

}
/* End Of Nav Styling*/

/* Hero Section */
.hero-img{
    background-image: url("/images/leafy-background.jfif");
    background-size: cover;
}
#hero-container {
    background-color: var(--main-green);
    border-radius: 10px;
    color: var(--main-gray);
}
#profile-pic {
    border-radius: 1000px;
    justify-content: flex-end;

}

.container-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'h1 profile-pic'
    'profile-text profile-pic';
    /* overflow:hidden; */
}
#profile-text {
    grid-area: profile-text;
}
#developer-heading {
    grid-area: h1;
}
#profile-pic {
    grid-area: profile-pic;
    max-width: 100%;
    width:auto;
    height: auto;
    overflow: hidden;
}
/* End of Hero Section */

/* Work Section */
.project-section h2 {
    background-color: var(--main-green);
    color: var(--main-gray);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}
/* Keeps Images in project section uniform size */
.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}
.card {
    border: 5px solid var(--main-green);
}
.project-section a:hover {
    opacity: 0.5;
    box-shadow: 10px 10px #6a8e14;
}

